*, html {
    border: 0;
    margin: 0;
    padding: 0;
} 
    body {
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: #5c695c;
    }
        table {
            border: 1px solid #f9f3f3b8;
            width: 40vh;
            height: 40vh;
        }

            td {
                border: 1px solid #9E9E9E;
                width: 33%;
                height: 33%;
                color: #232723;
                text-align: center;
                background-color: #ececece3;
                font-size: 30px;
            }
        
            td:hover {
                background: #f1a10f;;
                cursor: pointer
            }